{% extends 'utils/base_home.html' %}
{% load static tailwind_tags i18n %}

{% block title %}
    Parterre
{% endblock %}


{% block content %}
    {% include "parterre/partials/uno_hero.html" %}
    {% include "parterre/partials/due_three_cards.html" %}
    {% include "parterre/partials/tre_how_it_works.html" %}
    {% include "parterre/partials/quattro_who_we_are.html" %}
    <!-- {% include "parterre/partials/artists.html" %} -->
    {% include "parterre/partials/contact.html" %}
{% endblock %}
