<!-- Top Navigation -->
<div class="border-b-2 py-4">
    <div class="uppercase tracking-wide text-xs font-bold text-gray-500 mb-1 leading-tight"
         x-text="`Step: ${step} of 6`"></div>
    <div class="md:w-64 flex flex-row mx-auto">
        <div class="w-full bg-white rounded-full mr-2">
            <div class="rounded-full bg-green-500 text-xs leading-none h-2 text-center text-white"
                 :style="'width: '+ parseInt(step / 6 * 100) +'%'"></div>
        </div>
        <div class="text-xs w-10 text-gray-600" x-text="parseInt(step / 6 * 100) +'%'"></div>
    </div>
</div>
<!-- /Top Navigation -->
