{% load i18n %}
<div class="py-8">
    <h1 class="text-3xl font-bold">
        <!-- {% translate "Sell Artists" %} -->
        Vendi artista
    </h1>
    <p>
        Il valore di un artista cambia di volta in volta in base alle sue performance. Vendendo l'artista ottieni PIT
        <!--{% translate "The value of an artist changes overtime based on their performances. You can sell an artist to make some profit" %}-->
    </p>
        <div style="border: 1px solid #203c81;">
            <img src="https://parterre.fra1.cdn.digitaloceanspaces.com/public/sell_artists.png" alt="sell-artists" class="mx-auto">
        </div>
</div>
