{% load i18n %}
<div class="py-8">
    <h1 class="text-3xl font-bold">
        <!-- {% translate "Buy artists" %} -->
        Ingaggia artisti
    </h1>
    <p>
        <!--      {% translate "With PIT you can buy your favorite artists" %}      -->
        Con i PIT potete acquistare i vostri artisti preferiti
        </br>
        </br>
    </p>
    <div class="shadow-md">
        <div style="border: 1px solid #203c81;">
            <img src="https://parterre.fra1.cdn.digitaloceanspaces.com/public/buy_artist.png" alt="buy-artist">
        </div>
    </div>
</div>
