{% load i18n %}
<div class="py-8">
    <h1 class="text-3xl font-bold">
        <!--{% translate "Weekly PIT" %}-->
        PIT settimanali
    </h1>
    <p>
        <!-- {% translate "Every week the artists will earn you royalties which you will get as PITs" %} -->
        Ogni settimana gli artisti vi faranno guadagnare delle royalties che riceverete sotto forma di PIT.
    </p>
    <div style="border: 1px solid #203c81;">
        <img src="https://parterre.fra1.cdn.digitaloceanspaces.com/public/weekly_pit.png" alt="weekly-pit">
    </div>
</div>
