{% load i18n %}

{% block head %}
    {{ super.block }}
    <style>
    .hide-scroll-bar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .hide-scroll-bar::-webkit-scrollbar {
        display: none;
    }
</style>
{% endblock %}

<div class="flex flex-col bg-white dark:bg-gray-800 m-auto p-auto">
    <h1 class="text-3xl my-8 capitalize font-bold text-gray-700 dark:text-white hover:text-gray-600 dark:hover:text-gray-200">
        {% translate "Trending artists" %}
    </h1>
    <div class="flex overflow-x-scroll pb-10 -ml-6 -mr-6 md:-ml-20 md:-mr-12 lg:ml-0 hide-scroll-bar">
        <div class="flex flex-nowrap gap-x-8 pl-6 pr-6 md:pl-20 lg:pl-0">
            {% for artist in artists %}
                {% include "artists/partials/artist_card.html" with artist=artist %}
            {% endfor %}
        </div>
    </div>
</div>
