{% load i18n utils %}
<div class="mx-auto max-w-4xl px-8 py-4 my-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
    <div class="my-4">
        <h2 href="#"
            class="text-3xl capitalize font-bold text-gray-700 dark:text-white hover:text-gray-600 dark:hover:text-gray-200">
            {{ user.label.name }}
        </h2>
        <p class="mt-2 mb-8 text-gray-600 dark:text-gray-300">
            {% if user.label.is_empty %}
                {% translate "Your record label is empty, you can add add new artists to your roaster" %}
            {% else %}
                {% translate "Your label has" %} {{ user.label.artists.count }} {% translate "artists" %}
            {% endif %}
        </p>

        <div class="flex justify-center gap-8">
            {% for artist in user.label.artists.all %}
                <div class="flex flex-col gap-3 items-center justify-between">
                    <img class="object-center w-12 h-12 object-scale-down rounded-full" src="
                        {% if artist.image %}{{ artist.image.url }}{% else %}https://placehold.co/600x400{% endif %}"
                         alt="{{ artist.stage_name }}">
                    <h3 class="text-lg flex-grow md:text-2xl font-semibold text-gray-800 dark:text-white">{{ artist.stage_name }}</h3>
                    {% with artist.get_percentage as percentage %}
                        <h3 class="md:text-xl text-xl font-extrabold {% if percentage > 0 %}text-green-600{% else %}text-red-500{% endif %}">{{ percentage }}%</h3>
                    {% endwith %}
                </div>
            {% endfor %}

            {% if user.label.slots_available %}
                <a class="flex flex-col gap-3 items-center justify-between" href="{% url "explore" %}">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="w-12 h-12 bg-gray-200 rounded-full dark:bg-gray-700">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"/>
                    </svg>
                    <h3 class="text-lg flex-grow md:text-2xl font-light text-gray-800 dark:text-white">
                        {% translate "Add new artist" %}
                    </h3>
                </a>
            {% endif %}
        </div>
    </div>

</div>
