<a href="/user/profile" role="button" class="flex items-center focus:outline-none" aria-label="toggle profile dropdown">
    <div class="w-8 h-8 overflow-hidden border-2 border-gray-400 rounded-full">
        <img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" class="object-cover w-full h-full" alt="avatar">
    </div>

    <h3 class="mx-2 text-gray-700 dark:text-gray-200 lg:hidden">{{ user.email }}</h3>
</a>
