{% load static tailwind_tags tailwind_filters i18n %}

<form method="post" action="{% url 'contact' %}" id="contact">
    {% csrf_token %}
    <div class="mt-2">
        <h2 href="#"
            class="text-2xl uppercase font-bold text-gray-700 dark:text-white hover:text-gray-600 dark:hover:text-gray-200">
            Contattaci
        </h2>
        <p class="my-4 text-gray-600 dark:text-gray-300">
            Se hai domande o dubbi, non esitare a contattarci. Saremo lieti di rispondere a tutte le tue domande.
        </p>
        {{ form|crispy }}
    </div>


    <div class="flex items-center justify-end mt-12">
        {% translate "Contattaci" as create_new_label %}
        {% include "utils/buttons/primary_button.html" with label=create_new_label submit=True %}
    </div>
</form>