{% load i18n %}
<section class="body-font" id="how-it-works">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
        <div class="lg:w-1/2 w-full mb-10 lg:mb-0 rounded-lg overflow-hidden">
            <img alt="feature" class="object-cover object-center h-full w-full" src="https://dummyimage.com/460x500">
        </div>
        <div class="flex flex-col flex-wrap -mb-10 lg:w-1/2 lg:pl-12 lg:text-left text-center">
            <h2 class="max-w-2xl mb-4 text-2xl font-extrabold tracking-tight leading-none md:text-3xl xl:text-4xl dark:text-white">
                {% translate "How does it work?" %}
            </h2>
            <div class="flex flex-col lg:items-start items-center text-gray-600">
                <div class="flex-grow mt-4 mb-10">
                    <h2 class="text-gray-900 text-xl title-font font-medium mb-3">
                        1. {% translate "Sign Up" %}
                    </h2>
                    <p class="leading-relaxed text-base">
                        {% translate "Create your account on Parterre Music and start exploring our platform. It's free to sign up and you can start building your music label right away!" %}
                    </p>
                </div>

                <div class="flex-grow mb-10">
                    <h2 class="text-gray-900 text-xl title-font font-medium mb-3">
                        2. {% translate "Discover Artists" %}
                    </h2>
                    <p class="leading-relaxed text-base">
                        {% translate "Invest in your favorite indie artists using PIT tokens. You can buy and sell artists as you wish, and use your strategic thinking to make smart investments." %}
                    </p>
                </div>

                <div class="flex-grow mb-10">
                    <h2 class="text-gray-900 text-xl title-font font-medium mb-3">
                        3. {% translate "Monitor Performance" %}
                    </h2>
                    <p class="leading-relaxed text-base">
                        {% translate "Keep an eye on your artists' performance on different music charts and social media platforms. Parterre Music's algorithm will calculate a score for each artist every week, based on various factors, and you can use this information to make informed decisions about your investments." %}
                    </p>
                </div>

                <div class="flex-grow mb-10">
                    <h2 class="text-gray-900 text-xl title-font font-medium mb-3">
                        4. {% translate "Gain Rewards" %}
                    </h2>
                    <p class="leading-relaxed text-base">
                        {% translate "As your artists gain popularity and rise up the charts, you'll earn rewards in the form of PIT tokens. These tokens can be used to buy more artists, or cashed out for real money." %}
                    </p>
                </div>

                <div class="flex-grow mb-10">
                    <h2 class="text-gray-900 text-xl title-font font-medium mb-3">
                        5. {% translate "Rise to the Top" %}
                    </h2>
                    <p class="leading-relaxed text-base">
                        {% translate "With smart investments and a keen eye for talent, you can rise to the top of the music industry and become a leading music label owner. Parterre Music is the perfect platform for music enthusiasts and entrepreneurs looking to make their mark in the industry." %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>