<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-12">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Parterre è la piattaforma che unisce musica e gaming.</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base dark:text-gray-400">Diventa un Talent Scout, scopri e supporta i nuovi artisti emergenti collezionando i loro token. </br>
            La crescita di ciascun artista premierà anche te!</p>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">🎵 Fan Token</h2>
            <p class="leading-relaxed text-base">Gli artisti di Parterre vengono «tokenizzati» e resi disponibili all’acquisto da parte degli utenti.</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">🎸 Vincono tutti</h2>
            <p class="leading-relaxed text-base">La crescita di un’artista porterà vantaggi ad esso e ai possessori del suo token.</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">💵 Sosteniamo il progetto artistico</h2>
            <p class="leading-relaxed text-base">Proponiamo un’alternativa alla monetizzazione degli ascolti. Premiamo il successo degli artisti con premi utili alla sua crescita.</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">👥 Collaborzione artista-fan</h2>
            <p class="leading-relaxed text-base">Artisti e fan saranno vicini come mai visto prima.</br> </br> ‎ </p>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-row text-center gap-x-3">
        {% include "utils/buttons/primary_button.html" with label="Iscriviti" href="#" %}
    </div>
</section>
