<section class="dark:bg-gray-800 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -m-12">
        <div class="p-12 md:w-1/2 flex flex-col items-start">
            <div class="flex items-center flex-wrap pb-4 mb-4 border-b-2 border-gray-100 mt-auto w-full">
          </div>
          <a class="inline-flex items-center">
            <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/phone-mockup.png" alt="mockup">
            
          </a>
        </div>
        <div class="p-12 md:w-1/2 flex flex-col items-start">
          
            <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white">Come funziona?</h1>
            <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">1. Iscriviti alla piattaforma.<br>
            2. Scopri nuova musica su Parterre.<br>
            3. Acquista i Token dei tuoi artisti preferiti.<br>
            4. Supporta i tuoi artisti e vinci fantastici premi.<br></p>
          <div class="flex items-center flex-wrap pb-4 mb-4 border-b-2 border-gray-100 mt-auto w-full">
            <div class="flex flex-row text-center gap-x-3">
                {% include "utils/buttons/primary_button.html" with label="Iscriviti" href="#" %}
            </div>
          </div>
          
            
          </a>
        </div>
      </div>
    </div>
  </section>