{% load static tailwind_tags i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}" class="{{ user.preferred_theme }}">
	<head>
        <!-- Google tag (gtag.js) -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=G-DWQ6V6XB8L"></script>
            <script>
                 window.dataLayer = window.dataLayer || [];
                 function gtag(){dataLayer.push(arguments);}
                 gtag('js', new Date());
                 gtag('config', 'G-DWQ6V6XB8L');
            </script>
        <!-- END-Google tag (gtag.js) -->
        <title>
            {% block title %}
            {% endblock %}
        </title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
        {% block head %}
        {% endblock %}
	</head>

	<body class="dark:bg-slate-800" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        <div x-data="{ showTokenModal: false }">
            {% block before_content %}
            
            {% endblock %}
            
            
                {% block content %}
                {% endblock %}
                
            {% block after_content %}
            </div>
            {% endblock %}
        </div>
        {% block scripts %}
        {% endblock %}
    </body>
</html>
