{% extends "registration/_form_container.html" %}
{% load tailwind_filters i18n %}

{% block form_title %}
    {% translate "Set new password" %}
{% endblock %}

{% if validlink %}
    {% block form_content %}
{#        {% for _, error in form.errors.items %}#}
{#            {% include "components/pop_notifications/error.html" with message=error|first %}#}
{#        {% endfor %}#}
{#        <div class="w-full mt-4">#}
{#            {% translate "New password" as password1 %}#}
{#            {% render_field form.new_password1 placeholder=password1 class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 dark:placeholder-gray-200 bg-white border border-gray-300 rounded-lg dark:bg-slate-800 dark:border-gray-600 dark:placeholder-gray-400 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring focus:ring-blue-300" %}#}
{#        </div>#}
{##}
{#        <div class="w-full mt-4">#}
{#            {% translate "Confirm password" as password2 %}#}
{#            {% render_field form.new_password2 placeholder=password2 class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 dark:placeholder-gray-200 bg-white border border-gray-300 rounded-lg dark:bg-slate-800 dark:border-gray-600 dark:placeholder-gray-400 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring focus:ring-blue-300" %}#}
{#        </div>#}
        {{ form|crispy }}
        <div class="flex justify-center mt-6">
            {% translate "Reset password" as button_label %}
            {% include "utils/buttons/primary_button.html" with label=button_label submit=True %}
        </div>
    {% endblock %}
{% else %}

<p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}