

{% extends "registration/_form_container.html" %}
{% load widget_tweaks i18n %}

{% block form_title %}
    {% translate "Reset complete" %}
{% endblock %}

{% block form_paragraphs %}
    <p class="mb-8 text-center text-gray-500 dark:text-gray-400">
        {% translate "Your password has been set.  You may go ahead and log in now." %}
    </p>
{% endblock %}

{% block form_content %}
    <div class="flex justify-center mt-6">
        {% translate "Login" as button_label %}
        {% include "utils/buttons/primary_button.html" with label=button_label href=login_url %}
    </div>
{% endblock %}