{% extends "registration/_form_container.html" %}
{% load widget_tweaks i18n %}

{% block form_title %}
    {% translate 'Password reset' %}
{% endblock %}

{% block form_paragraphs %}
    {% translate "Check your email" as title %}
    {% translate "You should get the instructions shortly" as message %}
{#    {% include "components/pop_notifications/success.html" with message=message %}#}

    <p class="mt-8 text-center text-gray-500 dark:text-gray-400">
        {% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}
    </p>
{% endblock %}