{% extends 'utils/base_app.html' %}
{% load static tailwind_tags i18n %}

{% block title %}
    Nome genere
{% endblock %}

{% block content %}
    {{ block.super }}
    <h1 class="text-5xl my-8 capitalize font-bold text-gray-700 dark:text-white hover:text-gray-600 dark:hover:text-gray-200">{{ genre }}</h1>
    <div class="flex flex-col gap-4 mt-16">
        {% for artist in artists %}
            <a href="{% url 'artist-detail' artist.pk %}" class="rounded-lg shadow-lg w-full dark:bg-gray-800">
                <div class="px-6 py-4 flex flex-row gap-8 items-center justify-between">
                    <img class="object-center w-12 h-12 object-scale-down rounded-full" src="
                            {% if artist.image %}{{ artist.image.url }}{% else %}https://placehold.co/600x400{% endif %}"
                         alt="{{ artist.stage_name }}">
                    <h1 class="text-xl flex-grow md:text-2xl font-semibold text-gray-800 dark:text-white">{{ artist.stage_name }}</h1>
                    {% with artist.get_percentage as percentage %}
                        <h3 class="md:text-2xl text-xl font-extrabold {% if percentage > 0 %}text-green-600{% else %}text-red-500{% endif %}">{{ percentage }}%</h3>
                    {% endwith %}
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
