{% load i18n %}
<section>
    <div class="flex items-center gap-8 mb-12">
        <img class="object-cover w-12 h-12 rounded-full" src="https://parterre.fra1.cdn.digitaloceanspaces.com/public/user_default_image.png" alt="">
        <div>
            <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white">{{ user.username }}</h1>

            <p class="text-base text-gray-500 dark:text-gray-400">{{ user.label.name }}</p>
        </div>
    </div>
    <h2 class="text-3xl font-bold my-4"><!--{% translate "Your wallet" %}--> Il tuo wallet</h2>
    <p class="text-xl"> <!--{% translate "Balance" %}--> Saldo: {{ user.wallet.balance }} PIT</p>
    <hr class="mb-8">
    <h3 class="text-2xl font-bold mb-4"><!--{% translate "History" %}--> Ultimi movimenti</h3>
    <ul>
        {% for transaction in user.wallet.transactions.all %}
        <li class="rounded-lg shadow-lg w-full dark:bg-gray-800">
            <div class="px-6 py-4 flex flex-row gap-8 items-center justify-between">
            <span>{{ transaction.get_transaction_type_display }} <a class="font-semibold" href="">{{ transaction.artist.stage_name|truncatechars:10 }}</a></span>
                {% if transaction.transaction_type == "withdraw" %}
                    <span class="font-bold text-red-500">- {{ transaction.amount }} PIT</span>
                {% else %}
                     <span class="font-bold text-green-500">+ {{ transaction.amount }} PIT</span>
                {% endif %}
            </div>
        </li>
    {% endfor %}
    </ul>

</section>
